<mat-toolbar color="primary">
  <mat-toolbar-row>
    Good Match
  </mat-toolbar-row>
</mat-toolbar>

<br>
<br>
<br>

<mat-card class="example-card" style="padding: 10px; background-color: #e3cdfa;">
  <mat-card-header>
    <mat-card-title> <h3>Name 1</h3></mat-card-title>
  </mat-card-header>
  <mat-card-footer>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Enter Name</mat-label>
        <input matInput placeholder=""  (keyup)="onKeyName1($event)">
      </mat-form-field>
    </form>
  </mat-card-footer>
</mat-card>
<br>


<mat-card class="example-card" style="padding: 10px; background-color: #e3cdfa;">
  <mat-card-header>
    <mat-card-title> <h3>Name 2 </h3></mat-card-title>
  </mat-card-header>
  <mat-card-footer>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Enter Name</mat-label>
        <input matInput placeholder="" (keyup)="onKeyName2($event)" pattern="/[A-Z]/g">
      </mat-form-field>
    </form>
  </mat-card-footer>
</mat-card>

<br>

<button (click)="matchWords()" mat-raised-button color="primary" style="size: 200%;">Match</button>
<br>
<br>

<mat-card class="example-card" style="padding: 10px; background-color: #e3cdfa;">
  <mat-card-header>
    <mat-card-title> Result: <h3>{{ result }} </h3></mat-card-title>
  </mat-card-header>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
